APP_NAME=storage-agent
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=storage-agent
POSTGRES_USER=storage_agent_user
POSTGRES_PASSWORD=storage_agent_password
